.hero-unit-title
  p Perfil
.profile-background
  .profile-container
    .profile-wrapper
      img.profile-circle(src='https://www.wallpapertip.com/wmimgs/75-754054_son-goku-ultra-instinct.png')
      .profile-divider
      .profile-info
        h3 Laura Barocio
        small (autor)
        p 
          i.icon.icon-view
          | 324K &nbsp;
          i.icon.icon-share 
          | 976K
      .profile-extras
        .stars 
          span 
            i.material-icons star star star star star
        .description
          p Lorem ipsum dolor sit amet, fugit  iudicabit ei eos, ut ludus utroque temporibus ius. Vis ne mundi conceptam adolescens.
    a.add-photo-cc(href='#')
      i.material-icons add_a_photo
      .add-photo-tooltip Cambiar foto de portada
.separator-content
  .row
    .min
    .col.s4
      span.chico 230
      p Entradas
    .col.s4
      span.chico 150
      p Seguidores
    .col.s4
      span.chico 89
      p Siguiendo
.center
    a(href='#')
      i.icon-facebook.mediano
    a(href='#')
      i.icon-twitter.mediano
    a(href='#')
      i.icon-google.mediano
hr.divider
.center.sponsor-user
  .row
    .col.s6
      p Patrocinado por
    .col.s6
      img.left(src='https://4.bp.blogspot.com/-pvyz4nTCnkA/VWsosz1Ic9I/AAAAAAAAC0Y/xEd9LDeR05k/s1600/Nestle-%2528design-black-white%2529-logo-vector.png')
hr.divider
.center.sponsor-user
  .row
    .col.s6
      p 
        span Ganancias: 
        | $1,000,000
    .col.s6
      p
        span Ranking: 
        | 1,500
hr.divider
.center
  .med
  a.grey.darken-3.waves-effect.waves-light.btn.round-cc.white-text CERRAR SESIÓN
  .med
  .gra